/*
 * This is a manifest file that'll be compiled into application.css.
 * It includes all stylesheets below.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require jgrowl
 *= require_self
 *= require_tree .
 */
